@charset "utf-8";
/*--- Fonts ---*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*------*/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	background-color: #4c90cd;
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
}

footer ul {
	display: inline-block;
	height: 40px;
	width: 100%;
	padding-top: 10px;
}
footer ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
    height: 20px;
}

footer{
	text-align: center;
}
h1{
	margin: 20px;
}

img{
	width: 50%;
	height: 50%;
	border-radius: 50px;
}

#contenido{
	text-align: center
}
